<div class="container typeahead-demo">
    <form class="well input-form" name="inputform" ng-submit="createForm()">
            <div class="form-group has-feedback" ng-class="{'has-success': inputform.customer.$dirty && inputform.customer.$valid, 'has-error': inputform.customer.$dirty && inputform.customer.$invalid}">
                <div class="row">
                    <div class="col-md-11">
                        <label class="control-label" for="customer">Klient</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-11">
                        <input id="customer" name="customer"
                               type="text" ng-model="form.customerId"
                               uib-typeahead="customer.id as customer.secondName + ' ' + customer.firstName for customer in customers | filter:{secondName:$viewValue}"
                               typeahead-input-formatter="formatCustomersLabel($model, customers)"
                               typeahead-popup-template-url="customPopupTemplate.html"
                               class="form-control"
                               ng-change="getCustomersCars(customer.id)">
                    </div>
                    <div class="col-md-1">
                        <a class="btn btn-default align-bottom" href="#/createCustomer">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                    </div>
                </div>
                <!-- TODO: wyswietlic szczegolowe informacje o kliencie -->
                <div class="row">
                    <div class="col-md-11">
                        <label class="control-label" for="car">Samochód</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-11">
                        <input id="car" name="car"
                               type="text" ng-model="form.carId"
                               uib-typeahead="car.id as car.registrationNumber for car in cars | filter:{registrationNumber:$viewValue}"
                               typeahead-input-formatter="formatCarLabel($model, cars)"
                               typeahead-popup-template-url="customPopupTemplate.html"
                               class="form-control">
                    </div>
                    <div class="col-md-1">
                        <!-- TODO: set as disabled if !form.customerId -->
                        <a class="btn btn-default align-bottom"  href="#/createCar/{{form.customerId}}">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                    </div>
                </div>
                <!-- TODO: wyswietlic szczegolowe informacje o pojezdzie -->
                <!-- TODO: wybierz opony -->
                <!-- TODO: wyswietlic szczegolowe informacje o kolach -->
            </div>
        <!--<div class="form-group has-feedback" ng-class="{'has-success': inputform.model.$dirty && inputform.model.$valid, 'has-error': inputform.model.$dirty && inputform.model.$invalid}">-->
            <!--<label class="control-label" for="model">Model</label>-->
            <!--<input type="text" class="form-control" name="model" id="model" ng-model="form.model">-->
        <!--</div>-->
        <!--<div class="form-group has-feedback" ng-class="{'has-success': inputform.registrationNumber.$dirty && inputform.registrationNumber.$valid, 'has-error': inputform.registrationNumber.$dirty && inputform.registrationNumber.$invalid}">-->
            <!--<label class="control-label" for="registrationNumber">Nr rejestracyjny</label>-->
            <!--<input type="text" class="form-control" name="registrationNumber" id="registrationNumber" ng-model="form.registrationNumber">-->
        <!--</div>-->
        <!--<div class="form-group has-feedback" ng-class="{'has-success': inputform.year.$dirty && inputform.year.$valid, 'has-error': inputform.year.$dirty && inputform.year.$invalid}">-->
            <!--<label class="control-label" for="year">Rok produkcji</label>-->
            <!--<input type="text" class="form-control" name="year" id="year" ng-model="form.year">-->
        <!--</div>-->
        <!--<div class="form-group has-feedback" ng-class="{'has-success': inputform.tires.$dirty && inputform.tires.$valid, 'has-error': inputform.tires.$dirty && inputform.tires.$invalid}">-->
            <!--<label class="control-label" for="tires">Opony</label>-->
            <!--<input type="text" class="form-control" name="tires" id="tires" ng-model="form.tires">-->
        <!--</div>-->
        <!--<div class="form-group has-feedback" ng-class="{'has-success': inputform.rim.$dirty && inputform.rim.$valid, 'has-error': inputform.rim.$dirty && inputform.rim.$invalid}">-->
            <!--<label class="control-label" for="rim">Felga</label>-->
            <!--<input type="text" class="form-control" name="rim" id="rim" ng-model="form.rim">-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label">Wyważenie</label>-->
            <!--<div>-->
                <!--<div class="btn-group" data-toggle="buttons">-->
                    <!--<label class="btn btn-default" ng-class="{'active': form.balancing}">-->
                        <!--<input type="radio" name="balancing" ng-value="true" ng-model="form.balancing" /> Tak-->
                    <!--</label>-->
                    <!--<label class="btn btn-default" ng-class="{'active': !form.balancing}">-->
                        <!--<input type="radio" name="balancing" ng-value="false" ng-model="form.balancing" /> Nie-->
                    <!--</label>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<button class="btn btn-primary" type="submit" ng-disabled="inputform.$invalid || inputform.$pristine">Zapisz</button>-->
    </form>
</div>