<link rel="stylesheet" href="/config/print.css"/>
<h4>Robert Kiernozek</h4><h4>FELGI - OPONY</h4>
<h1>DOWÓD PRZECHOWALNI OPON</h1>
<table>
    <tr><td>Nr zlecenia</td><td ng-bind="form.id"></td></tr>
    <tr><td>Opony</td><td ng-bind="form.tires"></td></tr>
    <tr><td>Felga</td><td ng-bind="form.rim"></td></tr>
    <tr><td>Marka pojazdu</td><td ng-bind="form.make"></td></tr>
    <tr><td>Nr rejestracyjny</td><td ng-bind="form.registrationNumber"></td></tr>
    <tr><td>Tel. kontaktowy</td><td ng-bind=""></td></tr>
    <tr><td>Data przyjecia</td><td ng-bind="form.createData"></td></tr>
    <tr><td>Wyażenie</td><td ng-bind="form.balancing"></td></tr>
</table>